<div>{{title}}</div>
<form [formGroup]="myForm">
  <input type="text" [placeholder]="searchText" formControlName="search">

  <div *ngFor="let data of searchedcheckbox; let i=index">
    <label *ngIf="i < numberOfcheckboxItemsToBeShown">
      <input type="checkbox" [value]="data" [checked]="checkboxItemsStatus[i].value" (change)="onCheckboxChange($event, data)" />
      {{data}}
    </label>
  </div>
</form>
<a (click)="viewAllItems()" *ngIf="numberOfcheckboxItemsToBeShown !== checkboxData.length && checkboxData.length > itemLimit">View All</a>
<a (click)="viewLimitedItems()" *ngIf="numberOfcheckboxItemsToBeShown === checkboxData.length && checkboxData.length > itemLimit">View Limited Items</a>